@font-face {
    font-family: 'Grtsk Peta';
    src: local('Grtsk Peta Light'), local('Grtsk-Peta-Light'),
        url('GrtskPeta-Light.woff2') format('woff2'),
        url('GrtskPeta-Light.woff') format('woff'),
        url('GrtskPeta-Light.ttf') format('truetype');
    font-weight: 300;
    font-style: normal;
  }